<div>
  Page option: <input type="number" [(ngModel)]="dataSource.pageSize" style="width: 50px;">(page size)
</div>
<div>
  Sort option:
  <input type="checkbox" id="multiSort" [(ngModel)]="multi">
  <label for="fuzzy">multi sort</label>
</div>
<div>
  Search option:
  <input type="checkbox" id="fuzzy" [(ngModel)]="fuzzy">
  <label for="fuzzy">fuzzy</label>
  <input type="checkbox" id="ignoreCase" [(ngModel)]="ignoreCase">
  <label for="ignoreCase">ignore case</label>
</div>
<br>
<br>
<label>Class: </label>
<select arrFilter="class" [dataSource]="dataSource">
  <option value=""></option>
  <option value="A">A</option>
  <option value="B">B</option>
  <option value="C">C</option>
</select>
<br>
Search Name: <input arrFilter="name" [dataSource]="dataSource" [fuzzy]="fuzzy" [ignoreCase]="ignoreCase">
<div class="table-block">
  <table>
    <thead>
      <tr>
        <th arrSort="id" [dataSource]="dataSource" [multi]="multi" #sort1="arrSort"
          [class.sort-asc]="sort1.showAscArrow" [class.sort-desc]="sort1.showDescArrow">
          No.
        </th>
        <th arrSort="name" [dataSource]="dataSource" [multi]="multi" #sort2="arrSort"
          [class.sort-asc]="sort2.showAscArrow" [class.sort-desc]="sort2.showDescArrow">
          Name
        </th>
        <th arrSort="score" [dataSource]="dataSource" [multi]="multi" #sort3="arrSort"
          [class.sort-asc]="sort3.showAscArrow" [class.sort-desc]="sort3.showDescArrow">
          Score
        </th>
        <th arrSort="class" [dataSource]="dataSource" [multi]="multi" #sort4="arrSort"
          [class.sort-asc]="sort4.showAscArrow" [class.sort-desc]="sort4.showDescArrow">
          Class
        </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of dataSource?.connect() | async;let i = index;">
        <td> {{ data.id }} </td>
        <td> {{ data.name }}</td>
        <td> {{ data.score }}</td>
        <td> {{ data.class }}</td>
      </tr>
    </tbody>
  </table>
</div>
<button *ngFor=" let page of [].constructor(dataSource.pageCount);let i = index"
  (click)="dataSource.pageIndex = i"
  [class.btnDown]="dataSource.pageIndex === i">
  {{ i+1 }}
</button>